MONGODB_CONNECTION_STRING=
PORT=3900
JWT_SECRET=
MONGODB_CONNECTION_STRING_TEST=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE=
FIREBASE_MESSAGING_ID=
FIREBASE_APP_I=
FIREBASE_MEASUREMENT_ID=