MONGODB_CONNECTION_STRING=mongodb://localhost:27017/addressbook
PORT=3900
JWT_SECRET=kkaka
JWT_EXPIRATION_MINUTES=skksksk
MONGODB_CONNECTION_STRING_TEST=
FIREBASE_API_KEY=AIzaSyBPpeLc9WzZfKsknXqHzXAsAObpOfvbwUM
FIREBASE_AUTH_DOMAIN=strv-addressbook-jimoh-k-fadee.firebaseapp.com
FIREBASE_DATABASE_URL=https://strv-addressbook-jimoh-k-fadee-default-rtdb.europe-west1.firebasedatabase.app
FIREBASE_PROJECT_ID=strv-addressbook-jimoh-k-fadee
FIREBASE_STORAGE=strv-addressbook-jimoh-k-fadee.appspot.com
FIREBASE_MESSAGING_ID=534846615272
FIREBASE_APP_I=1:534846615272:web:77e8dd2aba12904a5c235d
FIREBASE_MEASUREMENT_ID=G-KWJ5GGK4NK